body {
  background-color: gray;
  font-size: 18px;
}

table, td, th {
  border: 1px solid black;
  width: 50rem;
  margin: 1rem 1rem;
  text-align: center;
}

#contents{
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;

}
#table{
}

.selected {
    cursor: pointer;
}

.menu {
  list-style: none;
  border: 1px solid black;
  width: fit-content;
  padding-right: 2em;
  display: none;
}

